<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79741212505-sdufi4d6gsfl96opfeimspfn8sn3q1ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79741212505-sdufi4d6gsfl96opfeimspfn8sn3q1ug</string>
	<key>API_KEY</key>
	<string>AIzaSyDl2PHfVBdTOgU63m7bOfYxs9UeRvsFAsA</string>
	<key>GCM_SENDER_ID</key>
	<string>79741212505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imanolortiz.WhatsAppClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-59d4a</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-59d4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79741212505:ios:a4cb0e4492e0d350a99e48</string>
</dict>
</plist>